/*** CoC Fonts ***/

@import url("/css/fonts/GoingMad/stylesheet.css");

.gmb .handwriting p,
.gmb .handwriting h4,
.gmb .handwriting span {
  font-family: "Going Mad";
}

.gmb .handwriting .double p,
.gmb .handwriting .double h4,
.gmb .handwriting span.double {
  font-family: "Going Mad Double";
}

.gmb .handwriting .munge p,
.gmb .handwriting .munge h4,
.gmb .handwriting span.munge {
  font-family: "Going Mad Munge";
}

.gmb .handwriting .shaky p,
.gmb .handwriting .shaky h4,
.gmb .handwriting span.shaky {
  font-family: "Going Mad Shake";
}

.gmb .handwriting .warp p,
.gmb .handwriting .warp h4,
.gmb .handwriting span.warp {
  font-family: "Going Mad Warp";
}

.gmb .handwriting .heavy p,
.gmb .handwriting .heavy h4 {
  font-family: "Going Mad Heavy";
}

.gmb .handwriting .double .heavy p,
.gmb .handwriting .double .heavy h4,
.gmb .handwriting span.double.heavy {
  font-family: "Going Mad Heavy Double";
}

.gmb .handwriting .munge .heavy p,
.gmb .handwriting .munge .heavy h4,
.gmb .handwriting span.munge.heavy {
  font-family: "Going Mad Heavy Munge";
}

.gmb .handwriting .shaky .heavy p,
.gmb .handwriting .shaky .heavy h4,
.gmb .handwriting span.shaky.heavy {
  font-family: "Going Mad Heavy Shake";
}

.gmb .handwriting .warp .heavy p,
.gmb .handwriting .warp .heavy h4,
.gmb .handwriting span.warp.heavy {
  font-family: "Going Mad Heavy Warp";
}

.gmb .handwriting .light p,
.gmb .handwriting .light h4 {
  font-family: "Going Mad Light";
}

.gmb .handwriting .double .light p,
.gmb .handwriting .double .light h4,
.gmb .handwriting span.double.light {
  font-family: "Going Mad Light Double";
}

.gmb .handwriting .munge .light p,
.gmb .handwriting .munge .light h4,
.gmb .handwriting span.munge.light {
  font-family: "Going Mad Light Munge";
}

.gmb .handwriting .shaky .light p,
.gmb .handwriting .shaky .light h4,
.gmb .handwriting span.shaky.light {
  font-family: "Going Mad Light Shake";
}

.gmb .handwriting .warp .light p,
.gmb .handwriting .warp .light h4,
.gmb .handwriting span.warp.light {
  font-family: "Going Mad Light Warp";
}

.font-size-1 {
  font-size: var(--font-size-1);
}

.font-size-2 {
  font-size: var(--font-size-2);
}

.font-size-3 {
  font-size: var(--font-size-3);
}

.font-size-4 {
  font-size: var(--font-size-4);
}

.font-size-5 {
  font-size: var(--font-size-5);
}
