/*** CoC Global properties ***/

:root {
  /* Colors */
  --color-primary: #000000;
  --color-secondary: #455545;
  --color-secondary-alt: #7d373a;
  --color-tertiary: #a7a9ac;
  --color-quaternary: #e4e3d8;
  --color-quinary: #5b4d3b;
  --color-senary: #ffffff;
  --color-septenary: #f3f3f3;

  /* Font sizes */
  --font-size-1: 9pt;
  --font-size-2: 11pt;
  --font-size-3: 14pt;
  --font-size-4: 20pt;
  --font-size-5: 24pt;
  --font-size-6: 30pt;

  /* Headers */
  --color-headers-main: var(--color-secondary);
  --font-headers: "Trebuchet MS";
  --font-header-secondary: Georgia;
  --font-size-h1: var(--font-size-5);
  --font-size-h2: var(--font-size-4);
  --font-size-h3: var(--font-size-3);
  --font-size-h4: var(--font-size-2);
  --font-size-h5: var(--font-size-1);

  /* Backgrounds */
  --color-bg-column: var(--color-septenary);
  --color-bg-main: var(--color-senary);
  --color-bg-blockquote: var(--color-quaternary);
  --img-bg-page-number: url("/img/backgrounds/tentacle-pagenum-bg.png");

  /* Main Text */
  --color-text-main: var(--color-primary);
  --font-main: Georgia;
  --font-size-main: var(--font-size-1);
  --indent-main: 1rem;

  /* Tables */
  --color-table-header: var(--color-quinary);
  --color-table-header-text: var(--color-senary);
}
