@import url("/css/utils/reset.css");
@import url("/css/coc/fonts.css");
@import url("/css/coc/globals.css");
@import url("/css/coc/headers.css");
@import url("/css/coc/blockquotes.css");
@import url("/css/coc/tables.css");
@import url("/css/coc/lists.css");
@import url("/css/coc/cover.css");
@import url("/css/coc/containers.css");
@import url("/css/coc/transforms.css");
@import url("/css/coc/handouts.css");
@import url("/css/coc/stat-blocks.css");
@import url("/css/coc/monsters.css");
@import url("/css/coc/artifacts.css");

@media print {
  .gmb {
    margin: 0;
    height: 279.4mm;
    width: 215.9mm;
  }
}

.gmb {
  background: none;
  background-color: var(--color-bg-main);
  height: 279.4mm;
  width: 215.9mm;
  column-gap: 2rem;
  column-width: 28rem;
}

.gmb p,
.gmb strong {
  text-align: justify;
  text-align-last: left;
  font-family: var(--font-main);
  font-size: var(--font-size-main);
  color: var(--color-text-main);
}

.gmb h1 + p,
.gmb p + p {
  text-indent: var(--indent-main);
}
