@import url("/css/utils/reset.css");
@import url("/css/coc/fonts.css");
@import url("/css/coc/globals.css");
@import url("/css/coc/headers.css");
@import url("/css/coc/blockquotes.css");
@import url("/css/coc/tables.css");
@import url("/css/coc/lists.css");
@import url("/css/coc/cover.css");
@import url("/css/coc/containers.css");
@import url("/css/coc/transforms.css");
@import url("/css/coc/handouts.css");
@import url("/css/coc/stat-blocks.css");
@import url("/css/coc/monsters.css");
@import url("/css/coc/artifacts.css");

@media print {
  .gmb {
    margin: 0;
    height: 279.4mm;
    width: 215.9mm;
  }
}

.gmb {
  background: var(--color-bg-main) !important;
  height: 279.4mm;
  width: 215.9mm;
  column-gap: 2rem;
  column-width: 28rem;
}

.gmb p,
.gmb strong {
  text-align: justify;
  text-align-last: left;
  font-family: var(--font-main);
  font-size: var(--font-size-main);
  color: var(--color-text-main);
}

.gmb h1 + p,
.gmb p + p {
  text-indent: var(--indent-main);
}

.gmb#p1 div.title:after {
  position: absolute;
  content: "PLAYTEST COPY";
  font-size: 50pt;
  top: 50rem;
}

.gmb#p2 {
  display: none;
}

.gmb blockquote,
.gmb hr + section blockquote {
  background-image: none;
  border: 1px solid black;
  border-image-source: none;
  border-image-slice: unset;
  border-image-width: unset;
  border-image-outset: unset;
  border-image-repeat: unset;
  background-color: lightgray;
  background-size: 100% 100%;
  padding: 3rem 2rem 3rem 2rem;
  overflow: hidden;
  box-shadow: unset;
  margin-bottom: 0;
}
