/** CoC Handouts **/

.gmb .handout h4 {
  padding-top: 3rem;
}

.gmb .handout p + p {
  padding-top: 3rem;
  text-indent: 0;
}

.gmb .handout p,
.gmb .handout h4,
.gmb .handout span {
  font-family: "Going Mad";
  font-size: var(--font-size-5);
}

.gmb .handout span {
  display: inline-block;
}

.gmb .handout span.overlay {
  position: absolute;
}

.gmb .handout s {
  text-decoration: line-through double;
}
.gmb .handout s s {
  text-decoration: line-through wavy;
}
