/*** CoC Headers ***/

.gmb h1,
.gmb h2,
.gmb h3,
.gmb h4,
.gmb h5,
.gmb h6 {
  font-family: var(--font-header-main);
  font-weight: bold;
  text-align: left;
  color: var(--color-headers-main);
  text-transform: uppercase;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.gmb h1,
.gmb h2 {
  text-align: justify;
  text-align-last: left;
}

.gmb h1 {
  font-size: var(--font-size-h1);
}

.gmb h2 {
  font-size: var(--font-size-h2);
}

.gmb h3,
.gmb h4,
.gmb h6 {
  font-family: var(--font-header-secondary);
}

.gmb h3 {
  font-size: var(--font-size-h3);
}

.gmb h4 {
  font-size: var(--font-size-h4);
  font-style: italic;
}

.gmb h5 {
  font-size: var(--font-size-h5);
  border-bottom: 1px solid var(--color-headers-main);
}

.gmb h6 {
  font-size: var(--font-size-h5);
  font-style: italic;
}

.gmb div.title h1 {
  font-size: var(--font-size-7);
}
