/*** CoC Page numbers ***/

.gmb .pageNumber,
.gmb .pageNumber.auto {
  font-family: var(--font-main);
  font-size: 13pt;
  color: var(--color-secondary);
  text-shadow: none;
  bottom: 1.5rem;
  width: unset;
  left: 50%;
  right: 50%;
}

.gmb::after,
.gmb:nth-child(odd)::after,
.gmb:nth-child(even)::after {
  content: "";
  background: none;
  background-image: none;
  /* background-image: var(--img-bg-page-number); */
  /* background-size: 816px 1056px;
  background-repeat: no-repeat;
  background-position: 18px 100%, bottom; */
  bottom: 0;
  z-index: 0;
  padding: 0px;
}

div#p1::after {
  background-image: none;
}

.gmb .footnote {
  color: var(--color-strong);
  font-family: var(--font-main);
  font-weight: bold;
  font-size: 0.8em;
  width: 200px;
  bottom: 20px;
}
