/*** Call of Cthulhu Tables ***/

.gmb table {
  margin-bottom: 0;
}

.gmb table,
.gmb table em,
.gmb table strong {
  font-family: var(--font-main);
  font-family: var(--font-main);
  color: inherit;
}

.gmb table em {
  font-weight: normal;
}

.gmb table thead th {
  padding: 0.5rem;
  font-weight: bold;
  font-size: var(--font-size-2);
  font-family: var(--font-main);
  color: var(--color-table-header-text);
  background-color: var(--color-table-header);
}

.gmb table tbody tr:nth-child(even) {
  background-color: var(--color-table-header);
  color: var(--color-table-header-text);
}

.gmb table tbody tr:nth-child(odd) {
  background-color: transparent;
  color: var(--color-text-main);
}

.gmb ul li table thead tr th,
.gmb ul li table tbody tr td {
  text-align-last: initial;
}
