/*** MÖRK BORG Credits ***/

.gmb div.credits {
  border-image: none;
  border: none;
  padding: 1.25rem 0.6rem 1.25rem 0.6rem;
  text-shadow: none;
}

.gmb div.credits p,
.gmb div.credits h1,
.gmb div.credits h3,
.gmb div.credits h4,
.gmb div.credits strong,
.gmb div.credits em,
.gmb div.credits div.acknowledgements p,
.gmb div.credits div.acknowledgements strong {
  text-align: justify;
  text-align-last: center;
}

.gmb div.credits h1,
.gmb div.credits h3 {
  margin-bottom: 1.25rem;
}

.gmb div.credits h1.credits {
  font-family: "Deadhead Classic";
  font-weight: normal;
  font-size: var(--font-size-5);
  border: none;
}

.gmb div.credits p {
  font-family: "Deadhead Classic";
  font-weight: normal;
  font-size: var(--font-size-2);
  color: var(--color-text-main);
  margin-top: 1rem;
  padding-bottom: 0;
  text-shadow: none;
}

.gmb div.credits p strong em {
  color: var(--color-strong);
  font-style: italic;
  font-weight: bold;
}

.gmb div.credits p span.before-colon {
  color: var(--color-headers-main);
}

.gmb div.credits div.acknowledgements p {
  font-family: "Alegreya";
  font-weight: normal;
  font-size: var(--font-size-1);
  letter-spacing: -0.02rem;
}

.gmb div.credits div.acknowledgements strong {
  font-family: "Alegreya";
  font-weight: bold;
  font-size: var(--font-size-1);
  color: var(--color-strong);
  letter-spacing: -0.03rem;
}

.gmb div.credits img.credits-image {
  width: auto;
  display: block;
  position: initial;
  margin-left: auto;
  margin-right: auto;
}
