/** MÖRK BORG Fonts **/

@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Amarante&family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Frijole&family=IM+Fell+English+SC&family=IM+Fell+English:ital@0;1&family=Inconsolata:wght@400;700;900&family=Irish+Grover&family=Metal+Mania&family=Metamorphous&family=Rakkas&family=Ruslan+Display&family=Uncial+Antiqua&display=swap");
@import url("https://gmb.ra-press.com/fonts/Alegreya/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/Amstrong/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/Andagis/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/Annabel/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/Aseina/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/Atlantis/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/Billiard/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/BlackVelvet2/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/Deadhead Classic/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/Burvetica/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/CaliforniaFreestyle/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/CallingCode/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/Chomsky/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/CoolUrban90s/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/Cunigast/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/DeadheadClassic/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/Demonius/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/Expert/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/FetteTrumpDeutsch/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/Giant/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/Hillpark/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/History/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/Hydrant/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/Insightly/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/Jumbo/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/Kiko/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/Lansdowne/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/Lifer/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/Lovesurely/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/Metal/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/Mindset/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/MonAmourFrakturBroken/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/Murray/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/NewCapricorn/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/Obsypac/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/Octopus/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/OldNewspaperTypes/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/Ollie/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/Pittsbrook/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/Ravenholm/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/Riotic/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/Rikiar/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/RomeoJuliet/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/RuasThin/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/SotDL/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/Starla/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/TheMariamStory/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/TheMoney/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/Thunder/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/Valeria/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/Viliaris/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/VultronBlack/stylesheet.css");
@import url("https://gmb.ra-press.com/fonts/Watson/stylesheet.css");

.font-size-1 {
  font-size: var(--font-size-1);
}

.font-size-2 {
  font-size: var(--font-size-2);
}

.font-size-3 {
  font-size: var(--font-size-3);
}

.font-size-4 {
  font-size: var(--font-size-4);
}

.font-size-5 {
  font-size: var(--font-size-5);
}
